.dashboard-content{
    padding-left: 300px;
  }
  
  @media only screen and (max-width : 992px) {
    .dashboard-content{
      padding-left: 0;
    }
  }

.side_nav_background{
  background: #4A6FEF;
  background: -webkit-linear-gradient(top left, #4A6FEF, #8991F9);
  background: -moz-linear-gradient(top left, #4A6FEF, #8991F9);
  background: linear-gradient(to bottom right, #4A6FEF, #8991F9);
}

ul.dropdown-content{
  padding-left: 100;
}
#dropdown li ul {
  right: 0;
  left: auto;
}