.dashboard-content{
    padding-left: 300px;
  }
  
  @media only screen and (max-width : 992px) {
    .dashboard-content{
      padding-left: 0;
    }
  }

.background{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}